<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <title>Title</title>
</head>
<body>
<h1>prototype페이지 입니다.</h1>

<script>
    $(function(){
        var hong = new Korean('홍길동');
        alert(hong.getName()+' '+hong.getNation());
    });
    var Person = function (name) {
        this.name = name || '무명';
    };
    Person.prototype.getName = function () {
        return this.name;
    };
    Person.prototype.getNation = function () {
        return '한국';
    };
    var Korean = function (name) {
        Person.apply(this,arguments);
    };
    Korean.prototype = new Person();
</script>
</body>
</html>